<div class="container-fluid">
  <div class="col-md-4"></div>
  <div class="row">
    <div class="col-md-4">
      <form method="post">
        <div class="form-group ">
          <label class="control-label requiredField" for="name">
        Nama
        <span class="asteriskField">
         *
        </span>
       </label>
          <input [(ngModel)]="newAdmin.nama" class="form-control" id="name" name="name" placeholder="Nama" type="text" />
        </div>
        <div class="form-group ">
          <label class="control-label requiredField" for="email">
        Email
        <span class="asteriskField">
         *
        </span>
       </label>
          <input [(ngModel)]="newAdmin.email" class="form-control" id="email" name="email" placeholder="Email" type="text" />
        </div>
        <div class="form-group ">
          <label class="control-label requiredField" for="subject">
        Password
        <span class="asteriskField">
         *
        </span>
       </label>
          <input [(ngModel)]="newAdmin.password" class="form-control" id="subject" name="subject" placeholder="Password" type="password" />
        </div>
        <div class="form-group">
          <div>
            <button (click)="onInsertNewAdmin()" class="btn btn-primary " name="submit" type="submit">
         Daftar
        </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>